<br>
<br>
<div class="sfc-area">
  <%= render "edit_sfc_web/top" %>
</div>
<%= render partial: "comments/comment", collection: @comments %>
<div class="modal fade" id="createComment" tabindex="1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="dialogHeader">コメント</h4>
      </div>
      <%= form_for(@comment, url: comments_path(), method: :post, remote: true) do |f| %>
        <div class="modal-body">
          <p>
            カテゴリーを選択：
            <%= f.select :category ,{'良いところ' => '1', '悪いところ' => '0'}, :prompt => '選択してください' %>
          </p>
          <%= f.hidden_field :href, :id => "href-area" %>
          <%= f.hidden_field :page_name, :value => "top" %>
          <%= f.text_area :content, :class => "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.button 'Submit', :class => "btn btn-primary", data: { disable_with: 'Sending...' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% @comments.each do |c| %>
  <h4>Xpath    : <%= c.href %></h4>
  <h4>Position : <%= c.x_pos %>/<%= c.y_pos %></h4>
  <h4>Category  :<%= c.category %> </h4>
  <h4>Content  : <%= c.content %></h4>
  <hr>
<% end %>

<br><br>
