<br><br>
<a href="/sfc_pages/login/edit" class="btn btn-lg btn-success">編集する</a>
<br><br>
<div class="row">
<div class="col-lg-10">
<div class="sfc-area">
  <!--ヘッダー-->
  <table width="850" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width=""><h1><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/sitetitle.gif" alt="SFC-SFS" width="330" height="52" /></h1></td>
      <td align="right">[ <a pre_href="index.cgi?+en">English</a> | Japanese ]</td>
    </tr>
  </table>

  <!--本体-->

  <table width="850" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <td valign="top" width="1"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="1" height="1" /></td>
      <td width="840" valign="top"><table width="840" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
          <td width="790">
      <br>
      <table width="790" border="0">
       <!-- 左メニュー ここから -->
       <tr>
        <td width="270" valign="top" align="left">
        <table width="238" border="0">
         <tr>
          <td bgcolor="#90a5d0" valign="top" align="center">
          <table width="234" cellspacing="2" cellpadding="5" border="0">
           <tr>
            <td bgcolor="#ffffff" valign="top" align="center">
            <table width="232" border="0">
             <tr>
              <td height="35" width="55" align="center"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/btn_login.gif" alt=""></td>
              <td width="179" align="left"><b>SFC-SFSログインはこちら</b></td></tr>
            </table>
           </tr></td>
          </table>
          <table width="234" cellspacing="2" cellpadding="5" border="0">
           <tr><td valign="top" align="center" bgcolor="#eeeeee">
            <table width="232" border="0">
             <tr>
              <td height="35" valign="bottom" nowrap>CNSアカウント</td>
              <td valign="bottom" align="left">
  <form action="https://vu.sfc.keio.ac.jp/sfc-sfs/login.cgi" method="POST">
  <input type="text" name="u_login" size="15"  style="ime-mode:inactive;"></td></tr>
            <tr>
             <td height="35" valign="top">CNSパスワード</td>
             <td valign="top" align="left"><input type="password" name="u_pass" size="15"></td></tr>
            <tr><td height="35" colspan="2" align="center"><a href="/sfc_pages/top" class="btn btn-default">ログイン</a></td></tr>

            <tr><td height="60" colspan="2" valign="middle" align="center">
            <hr>
            &gt;&gt; <a href="http://www.sfc.itc.keio.ac.jp/ja/faq_sfc_1.html#content_1_1">CNSパスワードをお忘れの方</a><br>
            &gt;&gt; <a pre_href="index.cgi?s">学籍をお持ちの教員の方</a>
            </td></tr>
  <input type="hidden" name="lang" value="ja">
            </form>
            </table>
           </td></tr>
          </table>
         </td></tr>
        </table>

        <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" height="3">
        <table width="238" border="0">
         <tr>
          <td bgcolor="#90a5d0" valign="top" align="center">
          <table width="234" cellspacing="2" cellpadding="5" border="0">
           <tr>
            <td bgcolor="#eeeeee" valign="top" align="left">
            <table width="232" border="0">
             <tr>
              <td width="5">&nbsp;</td>
              <td>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" alt=""> <a pre_href="doc/sfs_faq.html">よくある質問</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" alt=""> <a pre_href="/sfc_pages/contact">要望・お問い合わせ</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" alt=""> <a pre_href="doc/SFC-SFS-Manual-Student.pdf">学生用マニュアル(PDF/1.5Mバイト)</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="http://www.sfc.keio.ac.jp/">慶應SFCホームページ</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="https://vu.sfc.keio.ac.jp/course_u/">講義案内</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="https://vu.sfc.keio.ac.jp/course2014/summary/list_class_asp.cgi">アスペクト</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="https://vu.sfc.keio.ac.jp/project/">研究会シラバス</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="https://vu.sfc.keio.ac.jp/sp_project/">特別研究プロジェクト</a><br>
              <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif" alt=""> <a href="https://vu.sfc.keio.ac.jp/tasa/">TASA</a><br>
             </td></tr>
            </table>
           </td></tr>
          </table>
        </td></tr>
        </table>
        </td>

        <td width="540" valign="top">
        <table cellspacing="5" cellpadding="5" border="2" bordercolor="#ffdc8a">
        <tr>
        <td width="530" bgcolor="#ffdc8a">
        <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/what.gif" alt="What's SFC-SFS?">
        </td></tr>
        <tr>
        <td width="530" bgcolor="#ffffff">
        SFC-SFS とは、学生・教員・職員のためのコミュニケーション支援システムで、 SFCにおける学習・研究活動に関して、学生、教員、職員の3者が共に考え、優れた教育環境・内容の構築に資することを目指して活用します。<br>
  2002年度から開始されたオンライン授業調査に加えて、2007年度から運用される NEW VERSIONでは、以下3つのコミュニケーションを支援します。皆さんの積極的な利用を期待しています。
        <ol>
        <li>授業に関するコミュニケーション</li>
        <li>卒業までの学習・研究プランに関するコミュニケーション</li>
        <li>メンターとのコミュニケーション</li>
        </ol>
        </td></tr>
        </table>
        <h3 class="four">お知らせ</h3>
  <!-- NOTICE START -->


  <center>
  <font color=green>
  2016年春学期よりSFC-SFSのURLは以下に変更になっております。<br>
  https://vu.sfc.keio.ac.jp/sfc-sfs/ <br>
  vu8 をブックマークされている場合は、お手数ですが上記に変更してください。
  </font>
  </center>



  <!-- 履修申告期間中お知らせ-->

  <!--
  <strong><u>2017年度春学期履修登録取消期間</u></strong>
  <ul>
  <li>期間：<strong>5月17日（水）10:00　～　5月18日（木)　16:45　</strong></li>
  <li>方法：学事Webシステムから<br>（※2016年度までの申請用紙を用いた窓口での手続きは行いません。）<br>
  　　　　SFC-SFSにログイン＞[学事Web]タブ＞CNSアカウント・パスワードでログイン（Keio IDでも可）
  ＞[学事Webシステム]ボタン＞「履修取消申告」画面<br></li>
  <strong><a href="http://www.gakuji.keio.ac.jp/sfc/pe/crcancell.html" target="_blank">対象科目、注意事項、履修取消申告の操作手順は、「塾生の皆様へ」Webサイトを必ず確認してください。</a></strong>
  -->

  <!--
  <div style="border-style: solid;border-width: 1px;padding: 5px;background-color : #ffffd8;">
  <strong><u>2017年度春学期履修申告</u></strong>
  <ul>
  <li>期間：<strong>4月11日（火）13:00　～　4月14日（金)　10:00　</strong></li>
  <li>方法：学事Webシステムから</li>
  </ul>
  履修申告期間中は何度でも登録しなおすことができますので、早めに登録するよう心掛けてください。ただしデータ保守の為、履修申告期間中でも4:00から1時間程度、学事Webシステムの利用はできません。 <br />
  <br />
  <strong><a href="http://www.gakuji.keio.ac.jp/sfc/pe/rishu.html" target="_blank">塾生の皆様へWebサイトにて履修・履修申告に関するNews・注意事項・FAQを掲載していますので、事前に必ず確認してください。</a></strong>
  </div>
  <br />
  -->

  <br>
  <div style="border-style: solid;border-width: 1px;padding: 5px;background-color: transparent;">
  （総環）【重要】履修と成績に関わる2017年度からの変更点について<br>
  <strong><u>2017年度春学期から、皆さんの履修と成績に関わる制度に変更があります。</u></strong><br>
  <a href="http://www.gakuji.keio.ac.jp/sfc/gr_2016f.html" target="_blank">詳細は「塾生の皆様へ」Webサイトおよび3/10（金）に、学生本人宛に送付した新学期書類を必ず確認してください。</a><br>春学期からの履修に関わる重要な変更ですので、各自確認のうえ、履修計画の参考にしてください。
  </div>

  <!-- 履修申告期間中お知らせ end -->
  <ul>
  <!-- 2017年春学期 -->
  <li> 2017/7/3（月）- 【2017年度秋学期第4学年進級予定者】卒プロメンター希望申請（二次）受付を開始しました。該当者は 7/7（金）までに申請してください。
  <a href="http://www.gakuji.keio.ac.jp/sfc/baiqui000000wg5o.html" target="_blank"><img  src=https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif border=0>（参考）学事よりのアナウンス</a></li>

  <li>2017/6/30（金）【博士】2017年度秋学期用、博士修了要件に関する申請書画面をオープンしました。8月4日（金）までに提出してください。</li>
  <li>2017/6/27（火）10:15 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/6/24（土）- 卒プロメンター希望申請（１次）の選考結果を開示しました。</li>
  <li>2017/6/23（金）特別研究プロジェクト（2017年夏季休校期間実施）のシラバスを公開しました。<a href="https://vu.sfc.keio.ac.jp/sp_project/" target="_blank"><img  src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0> 特別研究プロジェクトページよりご確認ください。</a></li>
  <li> 2017/6/17（月）- 「卒業プロジェクト２」履修者の研究成果物の登録期間がはじまりました。2017/7/21（金）までに提出してください。
  <a href="http://www.gakuji.keio.ac.jp/sfc/baiqui000000wx5m.html"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0>（参考）学事よりのアナウンス</a></li>

  <li>2017/6/17（土）11:20 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/6/12（月）10:15 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li> 2017/6/5（月）- 【2017年度秋学期第4学年進級予定者】卒プロメンター希望申請（一次）受付を開始しました。該当者は 6/16（金）までに申請してください。
  <a href="http://www.gakuji.keio.ac.jp/sfc/baiqui000000w85y.html" target="_blank"><img  src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0>（参考）学事よりのアナウンス</a></li>
  <li> 2017/5/26（金）- 授業改善のための授業調査の結果公開を開始しました。ログイン後「授業調査」より履修中の結果を、また、全体一覧から全科目についても閲覧可能です。<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2014.cgi?year=2017&survey_no=1&lang=ja" target="_blank"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0> 調査結果全一覧</a></li>
  <li>2017/5/23（火）23:00 - （看護・健マネのみ）MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/5/22（月）13:20 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/5/11（木）15:00 - MY時間割（学生）および履修者名簿（教員）が更新されました。（看護・健マネ授業分含む）</li>
  <li>2017/5/1（月）16:30 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/4/24（月）10:20 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/4/21（金）10:30 - MY時間割（学生）および履修者名簿（教員）が更新されました。</li>
  <li>2017/4/17（月）11:00 - MY時間割（仮）登録期間は終了し、MY時間割（学生）および履修者名簿（教員）が 4/17（月）までの履修申告者データに切り替わりました。</li>
  <li>2017/4/17（月）11:00 - 他学部履修者の SFC-SFS ログインが可能となりました</li>
  <li>2017/4/8（土）15:10 - MY時間割（仮）に、4/8 13:00の情報基礎科目抽選結果を反映しました。</li>
  <li>2017/4/7（金）- TA/SA 本申請が開始されました。4/28（金）までに登録してください。<a href="https://vu.sfc.keio.ac.jp/tasa/student" target="_blank"><img  src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0>TASA登録ページ</a></li>
  <li>2017/4/6（木）17:00 - 春学期授業の履修選抜結果の公開を開始しました。</li>

  <li>2017/4/4（火）- 前学期までの履修履歴データを更新しました。</li>
  <li>2017/4/3（月）-「基礎土壌学」および「基礎生態学」（いずれも鶴岡タウンキャンパスにて開講）が「選抜エントリー」（抽選）対象となりました。履修希望者は、必ず「選抜エントリー」をクリックしてください。</li>
  <li>2017/4/3（月）- 学生データが2017年度版に更新され、在校生の学年も更新されました。</li>

  <li>2017/3/28（火）15:00 - 選抜エントリー登録を開始しました。<a href="http://www.gakuji.keio.ac.jp/sfc/pe/reg_entry.html" target="_blank"><img  src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif" border=0>（参考）学事よりのアナウンス</a></li>

  <li>2017/3/14（火）- 2017年度春学期 MY時間割（仮）登録を開始しました。
  選抜エントリー開始は 3/28（火）15:00を予定しています。</li>
  <li>2017/3/14（火）- 2016年度秋学期「卒業プロジェクト2」成果閲覧を開始しました。「卒プロ」タブ「成果閲覧」よりご覧ください。</li>
  <li>2017/3/13（月）- <a href="http://vu.sfc.keio.ac.jp/course_u/data/2017/title.html" target="_blank">2017年度講義案内・春学期シラバス閲覧を開始しました。<img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"></a></li>


  </ul>

  <!-- NOTICE END -->


  <h3 class="four">公開中の調査結果</h3>
  <ul>
  <li>2017年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2014.cgi?year=2017&survey_no=1" target="_blank">科目一覧表示</a></li>
  <li>2016年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2014.cgi?year=2016&survey_no=6" target="_blank">科目一覧表示</a></li>
  <li>2015年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2014.cgi?year=2015&survey_no=6" target="_blank">科目一覧表示</a></li>
  <li>2014年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2014.cgi?year=2014&survey_no=6" target="_blank">科目一覧表示</a></li>
  <li>2013年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2012.cgi?year=2013&survey_no=6" target="_blank">科目一覧表示</a></li>
  <li>2012年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2012.cgi?year=2012&survey_no=6" target="_blank">科目一覧表示</a></li>
  <li>2011年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2007.cgi?2011+6+0" target="_blank">科目一覧表示</a></li>
  <li>2010年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2007.cgi?2010+6+0" target="_blank">科目一覧表示</a></li>
  <li>2009年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2007.cgi?2009+6+0" target="_blank">科目一覧表示</a></li>
  <li>2008年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3_2007.cgi?2008+6+0" target="_blank">科目一覧表示</a></li>
  <li>2007年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3.cgi?2007+6+0" target="_blank">科目一覧表示</a></li>
  <li>2006年度　－　<!--<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_2.cgi?2006+6+mon">時間割表示</a>　｜　--><a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3.cgi?2006+6+0">科目一覧表示</a></li>
  <li>2005年度　－　<!--<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_2.cgi?2005+6+mon">時間割表示</a>　｜　--><a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3.cgi?2005+6+0">科目一覧表示</a></li>
  <li>2004年度　－　<!--<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_2.cgi?2004+6+mon">時間割表示</a>　｜　--><a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3.cgi?2004+6+0">科目一覧表示</a></li>
  <li>2003年度　－　<!--<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_2.cgi?2003+6+mon">時間割表示</a>　｜　--><a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all_3.cgi?2003+6+0">科目一覧表示</a></li>
  <li>2002年度　－　<a href="https://vu.sfc.keio.ac.jp/sfc-sfs/student/view_result_all.cgi?2002+f+mon">時間割表示</a>
  <br>
  <font size="1" color="red">慶應義塾大学以外から参照の場合、CNSパスワード認証を行っています。</font></li>
  </ul>
        </td>
       </tr>
      </table>

    </td>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
        </tr>
      </table></td>
      <td width="1"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="1" height="1" /></td>
    </tr>
  </table>

  <!--フッター-->
  <!--
  <table width="850" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><img src="img2/page_bottom_l.gif" alt="" width="850" height="15" /></td>
    </tr>
  </table>
  -->

  <table width="850" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
      <div id="footer">
      <font color="navy">
        <div id="copyright">
   | <a pre_href="/sfc_pages/contact" target="_blank">要望・お問い合わせ</a>
   | <a href="https://vu.sfc.keio.ac.jp/sfc-sfs/doc/sfs_faq.html" target="_blank">よくある質問</a> 
   | <a pre_href="/sfc_pages/privacy" target="_blank">情報の取扱について</a> | 
  </font>
  <br>
      Copyright (C) 2007, KEIO University Shonan Fujisawa Campus. All rights reserved.</div>
      </div>
    </td>
    </tr>
  </table>
  <%= render partial: "comments/comment", collection: @comments %>
</div>
</div>
<div class="col-lg-2">
<% @comments.each do |c| %>
  <h4>Xpath    : <%= c.href %></h4>
  <h4>Position : <%= c.x_pos %>/<%= c.y_pos %></h4>
  <h4>Category  :<%= c.category %> </h4>
  <h4>Content  : <%= c.content %></h4>
  <br>
<% end %>
</div>
</div>
</div>