<br><br>
<a href="/sfc_pages/my_class/edit" class="btn btn-lg btn-success">編集する</a>
<br><br>
<div class="row">
<div class="col-lg-10">
<div class="sfc-area">
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="350"><h1><a href="/sfc_pages/login"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/sitetitle.gif" alt="SFC-SFS" width="330" height="52" border="0"/></a></h1></td>
      <td width="443" align="right">xx xx さん [ xxxxxxxx | 総合x年(xx) ]<br />
    <a pre_href="/sfc_pages/login_history" target="_blank">Login: 2017-07-04 14:13:34</a></td>
      <td width="60" align="right"><a href="/sfc_pages/login"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/btn_logout.gif" alt="Logout | ログアウト" width="47" height="52" border="0"/></a></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
    </tr>
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_top.gif" width="853" height="15" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33" valign="top"><table width="33" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_01.gif" alt="Course | 履修授業" width="30" height="100" /></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a href="/sfc_pages/plan"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_02a.gif" alt="Plan | プラン" width="30" height="100" border="0" /></a></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a pre_href="/sfc_pages/mentor"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student1_03a.gif" alt="Mentor | メンター" width="30" height="100" border="0" /></a></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a pre_href="/sfc_pages/sotsu_pro"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_04a.gif" alt="Graduate Project | 卒プロ" width="30" height="100" border="0" /></a></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="
  1" height="1" /></td>
      <td width="818" valign="top" bgcolor="#FFFFFF"><table width="818" border="0" cellspacing="0
  " cellpadding="0">
        <tr>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
          <td width="790">
                    <div id="navigation">
                  <div class="navi01">
      <a href="/sfc_pages/top">TOP</a></div><div class="rnavi01">
      <a href="/sfc_pages/my_class">MY時間割</a></div><div class="navi01">
      <a href="/sfc_pages/senbatsu">選抜エントリー</a></div><div class="navi01">
      <a href="/sfc_pages/senbatsu_result">選抜結果</a></div><div class="navi01">
      <a pre_href="/sfc_pages/ta_sa">TA/SA</a></div><div class="navi01">
      <a pre_href="/sfc_pages/class_survey">授業調査</a></div><div class="navi01">
      <a href="/sfc_pages/schedule">日程</a></div><div class="navi01">
      <a pre_href="sfc_pages/gakuzi_web">学事Web</a></div>
                          <div class="clear"></div>
                    </div>
                  <h3 class="one" style="margin:0">MY時間割</h3>
  <!-- ## NOTICE START-->

  | <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> <a pre_href="https://vu.sfc.keio.ac.jp/course2014" target="_blank">講義案内</a> | <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> <a href="https://vu.sfc.keio.ac.jp/project" target="_blank">研究会</a> | <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> <a href="https://wellness.sfc.keio.ac.jp/v3" target="_blank">体育システム</a> |
  <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> <a href="https://ipl.sfc.keio.ac.jp/classreg/" target="_blank">情報技術系科目クラス登録</a> | <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif"> <a pre_href="/sfc_pages/gakuzi_web">履修申告</a> |

  <p>
  <!-- ### fix -->

  <ul class="small">
  <li>「MY時間割」「カテゴリ別履修一覧」には履修申告期間中に申告した科目が表示されています。</li>
  <li>MY時間割には他学部・他研究科・諸研究所設置科目は反映されません。</li>
  <li>体育２～５はMY時間割に登録しても時間割表示では非表示となります。確認はカテゴリ別履修一覧より行ってください。</li>
  </ul>

  <!-- ### pre_open中 -->
  <!--
  《MY時間割（仮）登録について》
  <ul class="small">
  <li> <b>新学期の履修プランの「MY時間割（仮）」登録受付中です。追加・削除は [選抜エントリー]より行って下さい。</b></li>
  <li><font color="red">2014年度より、履修者数制限のある授業は、「MY時間割（仮）」への登録と「選抜エントリー」が必須となりました。</font></li>
  <li>「MY時間割（仮）」は、あなたが前学期中に、[ プラン ] → [ 次学期 ] で追加した授業があらかじめ初期登録されています。</li>
  <li>履修選抜を実施しない授業も、授業担当者からの連絡などを受け取るため、MY時間割（仮）登録を</font>行うことをお勧めします。</li>
  <li>体育２～５はMY時間割に登録しても時間割表示では非表示となります。確認はカテゴリ別履修一覧より行ってください。</li>
  <li>MY時間割（仮）は履修申告ではありません。Web履修申告は、「学事Web」タブより、指定された期間中に必ず行ってください。</li>
  </ul>
  -->

  <!-- open前 -->
  <!--
  <li>MY時間割登録は3月中旬から開始されます。</li>
  -->

  <!-- ### 年間共通 -->
  《MY時間割に表示されている情報について》
  <ul class="small">
  <li>
  教室情報は参考情報です。<span style="text-decoration:underline"><a href="http://www.gakuji.keio.ac.jp/sfc/rishu/classroom_change.html" target="_blank">最新の変更（1日限りの変更含む）は塾生サイトで確認してください。</a></span><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> </li>
  <li>公式の休講・補講情報は<span style="text-decoration:underline"><a pre_href="/sfc_pages/gakuzi_web">学事Webシステムから確認してください。</a></span><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> </li>

  </ul>

  <!-- ## NOTICE END -->
  <h4 class="one" style="margin:0">MY時間割－2017春学期（確定）</h4>

  <p class="small" align="right">
  | <a href="/sfc_pages/my_class" target="frame">MY時間割</a> | <a pre_href="/sfc_pages/my_class_category" target="frame">カテゴリ別履修一覧</a> <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> | </p>

  <table width="100%" style="margin-top:30px">
  <tr><td colspan="7">
  ※授業名をクリックすると「授業ページ」にアクセスできます。<br />
  ※応援科目：履修科目以外で教員が特別にアクセスを許可した科目。<br />
  ※[G] ：大学院授業<br />
  ※教室情報更新：2017-07-01 19:43
  </td><tr>

  <tr><td colspan="7">
  </td></tr>
  <tr bgcolor="#cbd7e4"><th></th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th nowrap>その他</th></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">1</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td rowspan="7"><a href="/sfc_pages/class" target="_blank">卒業プロジェクト１</a><br>( 武田　圭史 )<br></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">2</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">ユーザビリティ評価論[&kappa;23]</a><br>( 小川　克彦 )<br></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">ブロックチェーン(寄附講座)[&Omega;12]</a><br>( 斉藤　賢爾 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">3</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">日本の行政機構[&epsilon;11]</a><br>( 松井　孝治 )<br></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">財務・ビジネスプラン構築技法[&iota;21]</a><br>( 伊藤　良二 )<br></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">アジアの人流・物流ネットワーク基盤整備(寄附講座)[&Omega;21]</a><br>( 古谷　知之 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">4</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">ソフトウェアアーキテクチャ[&Omega;21]</a><br>( 萩野　達也 )<br></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">古典と現在[&Omega;12]</a><br>( 堀　茂樹 )<br></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">5</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">研究会Ａ[&epsilon;22]</a><br>( 武田　圭史 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">6</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"><a href="/sfc_pages/class" target="_blank">研究会Ａ[&epsilon;22]</a><br>( 武田　圭史 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">7</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td></tr>
  <tr height="220"></tr>
  </table>

      </td>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="1" height="1" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_bottom.gif" width="820" height="15" /></td>
    </tr>
  </table>

  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
      <div id="footer">
        <div id="copyright">
      <font color="navy">
   | <a pre_href="/sfc_pages/contact" target="_blank">要望・お問い合わせ</a>
   | <a href="https://vu.sfc.keio.ac.jp/sfc-sfs/doc/sfs_faq.html" target="_blank">よくある質問</a> 
   | <a pre_href="/sfc_pages/privacy" target="_blank">情報の取扱について（内部向け）</a> | 
  </font>
  <br>
      Copyright (C) 2008-2011, KEIO University Shonan Fujisawa Campus. All rights reserved.
      </div>
      </div>
      </td>
    </tr>
  </table>
  <%= render partial: "comments/comment", collection: @comments %>
</div>
</div>
<div class="col-lg-2">
<% @comments.each do |c| %>
  <h4>Xpath    : <%= c.href %></h4>
  <h4>Position : <%= c.x_pos %>/<%= c.y_pos %></h4>
  <h4>Category  :<%= c.category %> </h4>
  <h4>Content  : <%= c.content %></h4>
  <br>
<% end %>
</div>
</div>
</div>