<br><br>
<a href="/sfc_pages/my_class/" class="btn btn-lg btn-warning">ページに戻る</a>
<br><br>
<div id="get-space"></div>
<div class="sfc-area">
  <%= render "edit_sfc_web/my_class" %>
</div>
<div class="modal fade" id="createComment" tabindex="1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="dialogHeader">コメント</h4>
      </div>
      <%= form_for(@comment, url: comments_path(), method: :post, remote: true) do |f| %>
        <div class="modal-body">
          <p>
            カテゴリーを選択：
            <%= f.select :category ,{'良いところ' => '1', '悪いところ' => '0'}, :prompt => '選択してください' %>
          </p>
          <%= f.hidden_field :href, :id => "href-area" %>
          <%= f.text_area :content, :class => "form-control" %>
          <%= f.hidden_field :page_name, :value => "my_class" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.button 'Submit', :class => "btn btn-primary", data: { disable_with: 'Sending...' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br><br>