<br><br>
<a href="/sfc_pages/top/edit" class="btn btn-lg btn-success">編集する</a>
<br><br>
<div class="row">
<div class="col-lg-10">
<div class="sfc-area">
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="350"><h1><a href="/sfc_pages/login"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/sitetitle.gif" alt="SFC-SFS" width="330" height="52" border="0"/></a></h1></td>
      <td width="443" align="right">xx xx さん [ xxxxxxxx | 総合x年(xx) ]<br />
    <a pre_href="/sfc_pages/login_history" target="_blank">Login: 2017-07-03 19:29:14</a></td>
      <td width="60" align="right"><a href="/sfc_pages/login"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/btn_logout.gif" alt="Logout | ログアウト" width="47" height="52" border="0"/></a></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
    </tr>
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_top.gif" width="853" height="15" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33" valign="top"><table width="33" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_01.gif" alt="Course | 履修授業" width="30" height="100" /></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a href="/sfc_pages/plan"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_02a.gif" alt="Plan | プラン" width="30" height="100" border="0" /></a></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a pre_href="/sfc_pages/mentor"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student1_03a.gif" alt="Mentor | メンター" width="30" height="100" border="0" /></a></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><a pre_href="/sfc_pages/sotsu_pro"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_04a.gif" alt="Graduate Project | 卒プロ" width="30" height="100" border="0" /></a></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="
  1" height="1" /></td>
      <td width="818" valign="top" bgcolor="#FFFFFF"><table width="818" border="0" cellspacing="0
  " cellpadding="0">
        <tr>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="1
  0" /></td>
          <td width="790">
                    <div id="navigation">
                  <div class="rnavi01">
      <a href="/sfc_pages/top">TOP</a></div><div class="navi01">
      <a href="/sfc_pages/my_class">MY時間割</a></div><div class="navi01">
      <a href="/sfc_pages/senbatsu">選抜エントリー</a></div><div class="navi01">
      <a href="/sfc_pages/senbatsu_result">選抜結果</a></div><div class="navi01">
      <a pre_href="/sfc_pages/ta_sa">TA/SA</a></div><div class="navi01">
      <a pre_href="/sfc_pages/class_survey">授業調査</a></div><div class="navi01">
      <a href="/sfc_pages/schedule">日程</a></div><div class="navi01">
      <a pre_href="/sfc_pages/gakuzi_web">学事Web</a></div>
                          <div class="clear"></div>
                    </div>
                  <h3 class="one">お知らせ</h3>
  <!-- ## NOTICE START-->


  <!-- ### news start ### -->
  <!-- 履修申告期間中お知らせ start -->
  <!--
  <div style="border-style: solid;border-width: 1px;padding: 5px;background-color : #ffffd8;">
  <strong><u>2017年度春学期履修申告</u></strong>
  <ul>
  <li>期間：<strong>4月11日（火）13:00　～　4月14日（金)　10:00　</strong></li>
  <li>方法：学事Webシステムから</li>
  </ul>
  履修申告期間中は何度でも登録しなおすことができますので、早めに登録するよう心掛けてください。ただしデータ保守の為、履修申告期間中でも4:00から1時間程度、学事Webシステムの利用はできません。 <br />
  <br />
  <strong><a href="http://www.gakuji.keio.ac.jp/sfc/pe/rishu.html" target="_blank">塾生の皆様へWebサイトにて履修・履修申告に関するNews・注意事項・FAQを掲載していますので、事前に必ず確認してください。</a></strong>
  </div>
  <br />
  -->

  <!-- 履修申告期間中お知らせ end -->
  <b>【全学生向けお知らせ】</b><br>
  <ul>
  <li><u><strong><a href="http://www.gakuji.keio.ac.jp/sfc/pe/index.html" target="_blank">在学生への最新のお知らせは、塾生の皆様へWebサイトで確認してください。</a></strong></u></li>


  <li>2016/10/3（月）- 履修申告に基づくMY時間割に切り替わりました。</li>

  <!--
  <li>2016/9/7（水）- 2016年度秋学期 MY時間割（仮）登録を開始しました。<br>
  履修者数制限がある授業も、履修者数制限がない授業も<b>[選抜エントリー]ページ</b>よりご登録ください。<br>
    （2014年度より [プラン]->[今学期]ではなくなりましたのでご注意ください。）</li>
  -->


  <!--
  <li>10/19（水）より授業改善のための授業調査を開始しました。メールにあるURLあるいは[授業調査]より、10/26（水）23:00までにご回答ください。</li>
  -->
  <li>11/4（金）授業改善のための授業調査結果を公開開始しました。[授業調査]よりご確認ください。</li>


  </ul>
    
  <!-- ### news end ### -->
    
  <!-- ### エリア説明開始 ### -->
  <h3 class="one">[ 履修授業 ]エリア</h3>
  <p>[ 履修授業 ] エリアでは、今学期の授業とTASA担当授業に関するコミュニケーションを支援します。
  履修が確定すると自動的に「MY時間割」が作成され、履修授業の「授業ページ」を通し、授業資料の取得や教員とのコミュニケーションを行うことができます。 確定前の期間 [ 選抜エントリー] から授業を追加することで、「MY時間割（仮）」が作成され、仮履修として授業コミュニケーションを開始することができます。</p>
  <!-- ### エリア説明終了 ### -->

  <!-- 2007 23 -->

  <!-- ## NOTICE END -->


      </td>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="1" height="1" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_bottom.gif" width="820" height="15" /></td>
    </tr>
  </table>

  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
      <div id="footer">
        <div id="copyright">
      <font color="navy">
   | <a pre_href="/sfc_pages/contact" target="_blank">要望・お問い合わせ</a>
   | <a href="https://vu.sfc.keio.ac.jp/sfc-sfs/doc/sfs_faq.html" target="_blank">よくある質問</a> 
   | <a pre_href="/sfc_pages/privacy" target="_blank">情報の取扱について（内部向け）</a> | 
  </font>
  <br>
      Copyright (C) 2008-2011, KEIO University Shonan Fujisawa Campus. All rights reserved.
      </div>
      </div>
      </td>
    </tr>
  </table>
  <%= render partial: "comments/comment", collection: @comments %>
</div>
</div>
<div class="col-lg-2">
<% @comments.each do |c| %>
  <h4>Xpath    : <%= c.href %></h4>
  <h4>Position : <%= c.x_pos %>/<%= c.y_pos %></h4>
  <h4>Category  :<%= c.category %> </h4>
  <h4>Content  : <%= c.content %></h4>
  <hr>
<% end %>
</div>
</div>